In [ ]:
# paths
import os.path
from os import path
import sys
import glob

In [2]:
import pandas as pd
sys.path.append('../scripts')

In [3]:
# custom modules
from text_detect import Text_Extraction

In [1]:
# reading 
list_assets = glob.glob('../Challenge_Data/Assets/*')
list_assets[0:5]

In [6]:
# initialize the class
extract =Text_Extraction()

In [13]:
# creating empty dictinary
lists_text =[]
# we have used the preview image for text extraction 
image='_preview.png'
for ls in list_assets:
    if path.exists(ls+'/'+image):
        #lists_text.append(ls)
        text_value=extract.extract_text(ls+'/'+image, r'/usr/bin/tesseract')
        lists_text.append([ls.split('/')[-1],text_value])

In [14]:
# creating dataframe
text_df = pd.DataFrame(lists_text, columns=['Id','Text'])

In [15]:
# checking
text_df.head()

,Id,Text
0,ed3071a667a11cc56e88ae0489bfe6aa,CR rR CRC ne OCR a ected\n\nMICHAEL KEATON = M...
1,4799763419d621cd41e7fb8abbcdd45d,Ovexus\nL/CERTIFIED BY LEXUS\n\nTAP THE SCREEN...
2,bf1f7af46eec0e92939a8b3ba51cbacd,UTS\n\n \n
3,e68e20f592457b875ce29757ab855dfe,Ovexus\nL/CERTIFIED BY LEXUS\n\nTAP THE SCREEN...
4,6a8e741867d4f893afad015b77b52c39,Ovexus\nL/CERTIFIED BY LEXUS\n\nTAP THE SCREEN...

### Text preprocessing and feature engineering

In [16]:
# replacing any characters based on the below pattern
text_df.replace(to_replace=[r"\\t|\\n|\\r", "\t|\n|\r"], value=["",""], regex=True, inplace=True)
# adding some features
text_df['Text_Char_Length'] = text_df['Text'].str.len()
text_df['Text_Word_Length'] = text_df['Text'].str.split().str.len()

In [17]:
# shaping
text_df.shape

(546, 4)

In [18]:
text_df.head()

,Id,Text,Text_Char_Length,Text_Word_Length
0,ed3071a667a11cc56e88ae0489bfe6aa,CR rR CRC ne OCR a ectedMICHAEL KEATON = MAGGI...,72,14
1,4799763419d621cd41e7fb8abbcdd45d,OvexusL/CERTIFIED BY LEXUSTAP THE SCREENto fin...,78,10
2,bf1f7af46eec0e92939a8b3ba51cbacd,UTS,5,1
3,e68e20f592457b875ce29757ab855dfe,OvexusL/CERTIFIED BY LEXUSTAP THE SCREENto fin...,78,10
4,6a8e741867d4f893afad015b77b52c39,OvexusL/CERTIFIED BY LEXUSTAP THE SCREENto fin...,80,10

In [ ]:
# saving 
text_df.to_csv('../data/text_feature.csv', index = False)